<!-- Top Bar -->
<nav class="navbar head-bg-purple animate fadeIn nav-height" id="nav-fade">
	<div class="container-fluid no-pad h-100">
		<div class="navbar-header col-md-12 no-pad no-margin h-100">
			<span class="svg-icon p-l-20">
				<a routerLink="/home" class="p-r-10">
					<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 18 18" fill="#fff">
						<path d="M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z"></path>
					</svg>
				</a>
			</span>
			<span class="headtext">
				<h3 class="h3-style">My Orders</h3>
			</span>
		</div>
	</div>
</nav>

<div *ngIf="loaderStatus" id="loader" class="pr__dark"
	[ngClass]="browserService.isChrome ? 'preloader-webp' : 'preloader'">
	<span class="progress">
		<div class="mobile-preloader">
			<div class="pre-container w-100">
				<div class="logo-circle">
					<div class="center">
						<img src="assets/images/Dinamic_Logo.svg">
					</div>
				</div>
				<div class="preloader-content"> <b>Our Staff Are Fully Vaccinated<br>#FeelSafeBeSafe</b> </div>
			</div>
		</div>
	</span>
</div>


<!-- #Top Bar -->
<section class="content" id="menu">
	<div class="container-fluid">
		<div class="row clearfix" id="d-wrapper">

			<!-- Live orders -->
			<ng-container>
				<div class="col-md-12 no-pad">
					<h3 class="font-bold col-hgrey">Live</h3>
				</div>
				<!--card1-->

				<ng-container *ngIf="userService.live_orders.length == 0">
					<div class="col-xs-12 no-pad m-b-20 position">
						<div class="zig-zag-bottom zig-zag-top shadow">
							<mat-card class="margin-0" style="box-shadow:none;background:transparent; padding:0">
								<div class="col-xs-12 no-pad m-t-30 m-b-30 ">
									<div class="row margin-0">
										<div style="position:relative;" class="m-t-10 m-b-10" align="center">
											<img src="assets/images/awaiting-icon.svg" class="img-responsive">
										</div>
										<div class="col-xs-12 text-center p-b-10">
											<h2>No Live Orders</h2>
										</div>
										<div class="col-xs-12 text-center col-grey">
											<p>We are still waitig for your order</p>
										</div>
									</div>
									<!-- <div class="col-xs-6 p-t-10 p-b-10" align="right" style="cursor: pointer;"><div><a (click)="viewOrder(x._id)" class="font-15 font-bold btn-link">VIEW ORDER</a></div></div> -->
								</div>
								<div class="clearfix"></div>
							</mat-card>
						</div>

					</div>

				</ng-container>

				<ng-container *ngIf="userService.live_orders.length">
					<ng-container *ngFor="let x of userService.live_orders">
						<!-- <ng-container *ngFor="let p of x.order_list"> -->
						<div class="col-xs-12 no-pad m-b-20 position">

							<mat-card class="radius4 md-whiteframe-4dp margin-0">
								<div class="col-xs-12 no-pad">
									<div class="row margin-0">
										<div class="col-xs-8">
											<h4>{{x.order_number}}</h4>
										</div>
										<div class="col-xs-4 font-15 font-bold500" align="right">

											<h4 *ngIf="x.order_status != 'placed'">{{(x.grand_total | currency:"INR")}}
											</h4>
										</div>
									</div>
									<div class="col-xs-12 p-t-25">
										<p class="font-15 font-bold500 col-hgrey" style="text-align:left">

											<ng-container *ngFor="let q of x.item_list">
												{{q.name}} <span style="font-size:20px">{{q.quantity |
													unicodeFiler}}</span>,
											</ng-container>

										</p>
									</div>
									<div class="col-xs-12 p-t-25 p-b-25">
										<h4>{{x.ordered_time | date: 'medium' }}</h4>
									</div>
									<div class="col-xs-12 no-pad">
										<hr>
									</div>


									<div class="col-xs-12 p-t-10 p-b-10" align="right">
										<div><a class="font-12 font-bold btn-link p-r-10"
												(click)="viewLiveOrder(x._id)">
												VIEW ITEMS</a><a class="font-bold btn-link font-12"
												(click)="orderStatus(x,orderStatusOpenModal)">
												<span *ngIf="x.order_status == 'placed'">AWAITING
													CONFIRMATION</span> <span
													*ngIf="x.order_status == 'confirmed'">ORDER CONFIRMED</span>
												<span *ngIf="x.order_status == 'prepared'">ORDER PREPARED</span>
												<span *ngIf="x.order_status == 'delivered'">ORDER DELIVERED</span>
												<span *ngIf="x.order_status == 'cancelled'">ORDER CANCELLED</span>
											</a>
										</div>
									</div>
									<!-- <div class="col-xs-6 p-t-10 p-b-10" align="right" style="cursor: pointer;"><div><a (click)="viewOrder(x._id)" class="font-15 font-bold btn-link">VIEW ORDER</a></div></div> -->
								</div>
								<div class="clearfix"></div>
							</mat-card>


						</div>

						<!-- </ng-container> -->
						<!--#Card1-->
					</ng-container>
				</ng-container>





				<!--#Card1-->
			</ng-container>










			<!-- Completed orders -->

			<ng-container>
				<div class="col-xs-12 no-pad">
					<h3 class="font-bold col-hgrey">Completed</h3>
				</div>

				<ng-container *ngIf="userService.completed_orders.length == 0">
					<div class="col-xs-12 no-pad m-b-20 position">
						<div class="zig-zag-bottom zig-zag-top shadow">
							<mat-card class="margin-0" style="box-shadow:none;background:transparent; padding:0">
								<div class="col-xs-12 no-pad m-t-30 m-b-30 ">
									<div class="row margin-0">
										<div style="position:relative;" class="m-t-10 m-b-10" align="center">
											<img src="assets/images/awaiting-icon.svg" class="img-responsive">
										</div>
										<div class="col-xs-12 text-center p-b-10">
											<h2>No Completed Orders</h2>
										</div>
										<div class="col-xs-12 text-center col-grey">
											<p>We are still waitig for your order</p>
										</div>
									</div>
									<!-- <div class="col-xs-6 p-t-10 p-b-10" align="right" style="cursor: pointer;"><div><a (click)="viewOrder(x._id)" class="font-15 font-bold btn-link">VIEW ORDER</a></div></div> -->
								</div>
								<div class="clearfix"></div>
							</mat-card>
						</div>

					</div>

				</ng-container>

				<!--card3-->
				<ng-container *ngIf="userService.completed_orders.length">
					<ng-container *ngFor="let y of userService.completed_orders">

						<div class="col-xs-12 no-pad m-b-20">

							<mat-card class="radius4 md-whiteframe-4dp margin-0" style="padding:0"
								[ngClass]="y.order_status == 'completed' ? 'mat-card' : 'mat-card-cancel'">
								<div class="col-xs-12 no-pad">
									<div class="row p-t-25 margin-0">
										<div class="col-xs-8">
											<h4>{{y.order_number}}</h4>
										</div>
										<div class="col-xs-4 font-15 font-bold500" align="right"
											*ngIf="y.order_status == 'completed'">
											<h4 *ngIf="y.order_status != 'cancelled'">{{y.grand_total | currency:"INR"
												}}</h4>
										</div>
									</div>
									<div class="col-xs-12 p-t-25">
										<p class="font-15 font-bold500 col-hgrey" style="text-align:left">

											<ng-container *ngFor="let z of y.item_list">
												{{z.name}} <span style="font-size:20px">{{z.quantity |
													unicodeFiler}}</span>,
											</ng-container>

										</p>
									</div>
									<div class="col-xs-12 p-t-25 p-b-25">
										<h4>{{y.ordered_time | date: 'dd/MM/yyyy hh:mm:ss a' }}</h4>
									</div>
									<div class="col-xs-12 no-pad">
										<hr>
									</div>
									<div class="col-xs-12 p-t-10 p-b-15" align="right"
										*ngIf="y.order_status == 'completed'">
										<div><a (click)="reOrder(a)" class="font-12 font-bold btn-link">RE - ORDER</a>
										</div>
									</div>

									<div class="col-xs-12 p-t-10 p-b-10" align="right"
										*ngIf="y.order_status != 'completed'">
										<div><a class="font-12 font-bold btn-link p-r-10"
												(click)="viewCompletedOrder(y._id)">
												VIEW ITEMS</a><a class="font-bold btn-link font-12"
												(click)="orderStatus(y,orderStatusOpenModal)">

												<span>ORDER CANCELLED</span>
											</a>
										</div>
									</div>



								</div>
								<div class="clearfix"></div>
							</mat-card>
						</div>
					</ng-container>

					<!--#Card3-->

				</ng-container>


			</ng-container>


			<!-- Completed orders -->

		</div>

		<div class="clearfix">&nbsp;</div>
	</div>
</section>
<!--End Content-->

<!-- 
<section *ngIf="!userService.live_orders.length && !completed_orders.length">
	<div id="screenbg" class="col-md-12">
		<div style="position:relative;" class="pad50 m-t-50 m-b-30" align="center">
			<img src="assets/images/emptyitem-icon.svg" class="img-responsive">
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12">
		<h2 class="subhead">Status</h2>
		<div class="col-md-11 pull-left no-leftpad p-t-20">
			<h4 class="font-15 col-black">NO ORDERS FOUND</h4>
		</div>
		<div class="col-md-1 pull-right p-t-10 no-rightpad" align="right"><img src="assets/images/assignment1.svg">
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="bottom-text">
		<div class="center-div100 m-t-70 m-b-30" align="center">
			<p class="font-15 col-grey">We're still waiting for your order</p>
		</div>
	</div>
</section> -->



<div style="display: none;" id="orderStatusOpenModal" (click)="orderStatusOpenModal.show();">Open Modal</div>

<div style="display: none;" id="orderStatuscloseModal" (click)="orderStatusOpenModal.hide();">Open Modal</div>
<div bsModal #orderStatusOpenModal="bs-modal" class="modal fade custom-modal" tabindex="-1" role="dialog"
	aria-labelledby="dialog-model">

	<div class="modal-dialog h-100-vh">
		<!-- Modal content-->
		<div class="modal-content mat-elevation-z2 h-100">
			<div class="modal-header head-bg-purple">
				<div class="col-xs-12 no-pad">
					<div class="col-xs-9 word-brk pull-left">
						<h3 class="modal-title" id="defaultModalLabel">Order Status</h3>
						<p class="opacity5 col-white">{{userService.order_number}}</p>

					</div>
					<div class="col-xs-3 pull-right col-white font-12" align="right">
						<p class="p-t-5 p-b-5 link font-bold"><a (click)="orderStatusOpenModal.hide();">CLOSE</a></p>
					</div>
				</div>
			</div>
			<div class="modal-body h-calc-75px">
				<!--content-->
				<section class="animate fadeIn h-100" *ngIf="userService.order_status === 'placed'">

					<div id="screenbg" class="col-md-12">
						<div style="position:relative;" class="pad50 m-b-30" align="center">
							<img src="assets/images/awaiting-icon.svg" class="img-responsive img-pop-width">

						</div>
					</div>
					<div class="container-fluid h-100-280px">
						<div class="row clearfix ">
							<div class="col-md-12">
								<h2 class="subhead">Status</h2>
								<div class="col-xs-9 pull-left no-leftpad p-t-20">
									<h4 class="font-15 col-black">AWAITING CONFIRMATION</h4>
								</div>
								<div class="col-xs-3 p-t-25 no-rightpad" align="right">
									<div id="load" class="stage" align="right">
										<div class="dot-flashing"></div>
									</div>
								</div>
							</div>
							<!-- <div class="clearfix">&nbsp;</div>
      <div class="center-div100 m-t-70 m-b-30" align="center">
        <h1><countdown #cd [config]="config" (event)="handleEvent($event)"></countdown></h1>
      </div> -->
							<div class="clearfix">&nbsp;</div>
							<div id="vstatus" class="bottom-status-text">
								<div class="center-div100  m-b-10" align="center">
									<p class="font-12 col-black30">Please wait for order confirmation</p>
								</div>
							</div>

						</div>
					</div>
				</section>

				<section class="animate fadeIn h-100" *ngIf="userService.order_status === 'confirmed'">

					<div id="screenbg" class="col-md-12">
						<div style="position:relative;" class="pad50 m-b-30" align="center">
							<img src="assets/images/order-confirmed.svg" class="img-responsive img-pop-width">

						</div>
					</div>
					<div class="container-fluid h-100-280px">
						<div class="row clearfix ">
							<div class="col-md-12">
								<h2 class="subhead">Status</h2>
								<div class="col-xs-9 pull-left no-leftpad p-t-20">
									<h4 class="font-15 col-black">ORDER CONFIRMED</h4>
								</div>
								<div class="col-xs-3 no-rightpad" align="right">
									<img src="assets/images/confirmed-icon_new.svg">
								</div>
							</div>
							<!-- <div class="clearfix">&nbsp;</div>
    <div class="center-div100 m-t-70 m-b-30" align="center">
      <h1><countdown #cd [config]="config" (event)="handleEvent($event)"></countdown></h1>
    </div> -->
							<div class="clearfix">&nbsp;</div>
							<div id="vstatus" class="bottom-status-text">
								<div class="center-div100  m-b-10" align="center">
									<p class="font-12 col-black30">Your order will be served soon.</p>
								</div>
							</div>

						</div>
					</div>
				</section>

				<section class="animate fadeIn h-100" *ngIf="userService.order_status === 'prepared'">

					<div id="screenbg" class="col-md-12">
						<div style="position:relative;" class="pad50 m-b-30" align="center">
							<img src="assets/images/order-prepared.png" *ngIf="!browserService.isChrome"
								class="img-responsive img-pop-height">
							<img src="assets/images/order-prepared.webp" *ngIf="browserService.isChrome"
								class="img-responsive img-pop-height">

						</div>
					</div>
					<div class="container-fluid h-100-280px">
						<div class="row clearfix ">
							<div class="col-md-12">
								<h2 class="subhead">Status</h2>
								<div class="col-xs-9 pull-left no-leftpad p-t-20">
									<h4 class="font-15 col-black">ORDER PREPARED</h4>
								</div>
								<div class="col-xs-3 no-rightpad" align="right">
									<img src="assets/images/confirmed-icon_new.svg">
								</div>
							</div>
							<!-- <div class="clearfix">&nbsp;</div>
  <div class="center-div100 m-t-70 m-b-30" align="center">
    <h1><countdown #cd [config]="config" (event)="handleEvent($event)"></countdown></h1>
  </div> -->
							<div class="clearfix">&nbsp;</div>
							<div id="vstatus" class="bottom-status-text">
								<div class="center-div100  m-b-10" align="center">
									<p class="font-12 col-black30">Your order is ready for pickup.</p>
								</div>
							</div>

						</div>
					</div>
				</section>
				<section class="animate fadeIn h-100" *ngIf="userService.order_status === 'delivered'">

					<div id="screenbg" class="col-md-12">
						<div style="position:relative;" class="pad50 m-b-30" align="center">
							<img src="assets/images/order-delivered.webp" *ngIf="browserService.isChrome"
								class="img-responsive img-pop-height">
							<img src="assets/images/order-delivered.png" *ngIf="!browserService.isChrome"
								class="img-responsive img-pop-height">
						</div>
					</div>
					<div class="container-fluid h-100-280px">
						<div class="row clearfix ">
							<div class="col-md-12">
								<h2 class="subhead">Status</h2>
								<div class="col-xs-9 pull-left no-leftpad p-t-20">
									<h4 class="font-15 col-black">ORDER DELIVERED</h4>
								</div>
								<div class="col-xs-3 no-rightpad" align="right">
									<img src="assets/images/confirmed-icon_new.svg">
								</div>
							</div>
							<!-- <div class="clearfix">&nbsp;</div>
  <div class="center-div100 m-t-70 m-b-30" align="center">
    <h1><countdown #cd [config]="config" (event)="handleEvent($event)"></countdown></h1>
  </div> -->
							<div class="clearfix">&nbsp;</div>
							<div id="vstatus" class="bottom-status-text">
								<div class="center-div100  m-b-10" align="center">
									<p class="font-12 col-black30">Your order has been delivered.</p>
								</div>
							</div>

						</div>
					</div>
				</section>
				<!--#content-->
			</div>
			<!-- <div class="customize-bshadow"></div> -->

		</div>

	</div>
</div>