<app-ios-notify></app-ios-notify>

<nav class="navbar theme-bg head-bg-purple animate fadeIn nav-height" id="nav-fade">
	<div class="container-fluid no-pad h-100">
		<div class="navbar-header col-md-12 no-pad no-margin h-100">
			<span class="svg-icon p-l-20">
				<a routerLink="/menu/items" class="p-r-10">
					<svg xmlns="http://www.w3.org/2000/svg" class="nav-back-arrow" width="22" height="22"
						viewBox="0 0 18 18" fill="#fff">
						<path d="M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z"></path>
					</svg>
				</a>
			</span>
			<span class="headtext">
				<h3 class="h3-style">Order Status</h3>
			</span>
		</div>
	</div>
</nav>


<!-- Awaiting Confirmation -->
<div *ngIf="userService.showAwaiting" class="wrapper">
	<section class="animate fadeIn page-body" data-wow-delay="400ms">
		<div class="col-md-12" [ngClass]="isChrome ? 'screenbg-webp' : 'screenbg'">
			<div style="position:relative;" class="pad50 m-t-55 m-b-30" align="center">
				<img src="assets/images/awaiting-icon.svg" class="img-responsive">
			</div>
		</div>

		<div class="container-fluid">
			<div class="row clearfix p-l-5 p-r-5">
				<div class="col-md-12">
					<h2 class="subhead">Status</h2>
					<div class="col-xs-10 pull-left no-leftpad p-t-20">
						<h4 class="font-15 col-black">AWAITING CONFIRMATION</h4>
					</div>
					<div class="col-xs-2 p-t-25 no-rightpad" align="right">
						<div class="stage" align="right">
							<div class="dot-flashing"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 p-t-40" align="center">
					<button type="button" style="width:100%"
						class="btn bg-white text-purple mat-elevation-z2 btnstylenew" routerLink="/view-order"><span
							class="font-bold font-16 p-l-5 text-upper">VIEW ORDER ITEMS</span>
					</button>
				</div>

				<div class="col-xs-12 p-t-15" align="center">
					<button type="button" style="width:100%" class="btn theme-btn mat-elevation-z2 btnstylenew"
						routerLink="/menu/categories"><span class="font-bold font-16 p-l-5 text-upper">Back to
							Menu</span>
					</button>
				</div>

				<div class="clearfix">&nbsp;</div>
				<div class="bottom-text">
					<div class="center-div100 m-t-70 m-b-30" align="center">
						<p class="font-15 col-black30">Please wait for us to confirm your order</p>
					</div>
				</div>

			</div>
		</div>


		<!-- <div class='bill-foot2 valign-center col-md-12 no-pad animate fadeInUp' style="bottom:0;" *ngIf="userService.placed_order_status">
      <div class='col-md-6 p-t-5 p-b-0 pull-left font-bold'>
          <div class="row valign-center"><div  class="col-xs-2" style="margin-top:-2px;">
               <span style="padding-top:4px"><img class="valign-center circle-img" src="assets/images/vegclear-soup.jpg"></span></div>
          <div class="col-xs-10"><span class="md-headline valign-center">Chicken Wings</span></div></div>
      </div>
      <div class='col-md-6 valign-center p-t-5 p-b-0 btn-link text-purple font-bold pull-right' align='right'>
          <a class="text-purple"><span>VIEW STATUS</span></a>
      </div>
    </div> -->
	</section>
</div>


<!-- Order Confirmed -->
<div *ngIf="!userService.showAwaiting" class="wrapper">
	<section *ngIf="!userService.confirmationStatus" class="animate fadeIn page-body" data-wow-delay="400ms">
		<div id="screenbg" class="col-md-12">
			<div style="position:relative;" class="pad50 m-t-55 m-b-30" align="center">
				<img src="assets/images/awaiting-icon.svg" class="img-responsive">
			</div>
		</div>

		<div class="container-fluid">
			<div class="row clearfix p-l-5 p-r-5">
				<div class="col-md-12">
					<h2 class="subhead">Status</h2>
					<div class="col-xs-10 pull-left no-leftpad p-t-20">
						<h4 class="font-15 col-black">AWAITING CONFIRMATION</h4>
					</div>
					<div class="col-xs-2 p-t-25 no-rightpad" align="right">
						<div class="stage" align="right">
							<div class="dot-flashing"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 p-t-40" align="center">
					<button type="button" style="width:100%"
						class="btn bg-white text-purple mat-elevation-z2 btnstylenew"
						(click)="viewOrderItems('awaiting')"><span class="font-bold font-16 p-l-5 text-upper">VIEW ORDER
							ITEMS</span>
					</button>
				</div>

				<div class="col-xs-12 p-t-15" align="center">
					<button type="button" style="width:100%" class="btn theme-btn mat-elevation-z2 btnstylenew"
						routerLink="/menu/categories"><span class="font-bold font-16 p-l-5 text-upper">Back to
							Menu</span>
					</button>
				</div>

				<div class="clearfix">&nbsp;</div>
				<div class="bottom-text">
					<div class="center-div100 m-t-70 m-b-30" align="center">
						<p class="font-15 col-black30">Please wait for us to confirm your order</p>
					</div>
				</div>

			</div>
		</div>


		<!-- <div class='bill-foot2 valign-center col-md-12 no-pad animate fadeInUp' style="bottom:0;" *ngIf="userService.placed_order_status">
      <div class='col-md-6 p-t-5 p-b-0 pull-left font-bold'>
          <div class="row valign-center"><div  class="col-xs-2" style="margin-top:-2px;">
               <span style="padding-top:4px"><img class="valign-center circle-img" src="assets/images/vegclear-soup.jpg"></span></div>
          <div class="col-xs-10"><span class="md-headline valign-center">Chicken Wings</span></div></div>
      </div>
      <div class='col-md-6 valign-center p-t-5 p-b-0 btn-link text-purple font-bold pull-right' align='right'>
          <a class="text-purple"><span>VIEW STATUS</span></a>
      </div>
    </div> -->
	</section>
	<section *ngIf="userService.confirmationStatus" class="animate fadeIn page-body" data-wow-delay="400ms">
		<div id="screenbg" class="col-md-12">
			<div style="position:relative;" class="pad50 m-t-50 m-b-30" align="center">
				<img src="assets/images/order-confirmed.svg" class="img-responsive">
			</div>
		</div>
		<div class="container-fluid">
			<div class="row clearfix p-l-5 p-r-5">
				<div class="col-md-12">
					<h2 class="subhead">Status</h2>
					<div class="col-md-11 pull-left no-leftpad p-t-20">
						<h4 class="font-15 col-black">ORDER CONFIRMED</h4>
					</div>
					<div class="col-md-1 pull-right no-rightpad" id="bodymovin" align="right">
						<img src="assets/images/confirmed-icon_new.svg">
					</div>
				</div>
				<div class="col-xs-12 p-t-40" align="center">
					<button type="button" style="width:100%"
						class="btn bg-white text-purple mat-elevation-z2 btnstylenew"
						(click)="viewOrderItems('confirmed')"><span class="font-bold font-16 p-l-5 text-upper">VIEW
							ORDER ITEMS</span>
					</button>
				</div>
				<div class="col-xs-12 p-t-15" align="center">
					<button type="button" style="width:100%" class="btn theme-btn mat-elevation-z2 btnstylenew"
						routerLink="/menu/categories">
						<span class="font-bold font-16 p-l-5 text-upper">Back to Menu</span>
					</button>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="bottom-text">
					<div class="center-div100 m-t-70 m-b-30" align="center">
						<p class="font-15 col-black30">Your order will be served in a few minutes</p>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>
<!-- Footer -->
<footer class="page-footer ">
	<div class="footer1 col-black30">Government taxes extra as applicable.</div>
	<div class="footer2 col-black30">We levy {{ restaurant_details.service_charge }}% Service Charge.</div>
	<div class="col-black30 font-semibold footer"><a class="col-black" href="https://dinamic.io/" target="_blank"><span>Powered
				by</span><img src="assets/images/footer-logo.svg"></a></div>
</footer>
<!-- Footer -->